@charset 'UTF-8';

*{margin: 0; padding: 0; 
 /*  outline: 1px solid red; */}

li{list-style: none;}

a{text-decoration: none; color: inherit;}

#wrap{
  position: relative;
  height: 100vh;
  color:white;
}

body{
  font-family: 'Nanum Gothic', sans-serif;
}

header .long{
  position: fixed;
  left: 50px; top: 30px;
  font-weight: lighter;
}

.banner{
  margin: auto;
  font-size:1.5em;
  font-weight: lighter;
  margin-bottom:20px;
}

.now {
  font-weight: lighter;
}

.now span {
  font-weight: bold;
  font-size:30px;
}

fieldset {
  border: none;
}

/* container */

.main-container{
  display: flex;
}

.inner_container{
  position: absolute;
  margin-bottom:100px;
  width: 380px;
  height:50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


input[type=text], input[type=password] {
  width:380px;
  height:47px;
  color: #fff;
  background:none;
  border: none;
  border-bottom:1px solid #7c7c7c;
}


input[type=submit] {
  width:382px;
  height:50px;
  border: none;
  border-radius: 3px;
  color: black;
  font-size:15px;
  font-weight: bold;
  background:#fde500;
  cursor:pointer;
}

button{
  width:382px;
  height:50px;
  border: none;
  border-radius: 3px;
  font-size:15px;
  font-weight: bold;
  cursor:pointer;
}

img{margin:4px 7px 0 0;}


.line_or {
	display:flex;
	flex-basis:100%;
	align-items:center;
	color:rgba(255, 255, 255, 0.267);
	font-size:14px;
}

.line_or::before{
	content:"";
	flex-grow:1;
	margin:0px 16px;
	background:rgba(255,255,255,0.22);
	height:1px;
	font-size:0px;
	line-height: 0px;
}

.line_or::after {
	content:"";
	flex-grow:1;
	margin:0px 16px;
  background:rgba(255,255,255,0.22);
	height:1px;
	font-size:0px;
	line-height: 0px;
}


/* 체크박스  */

.checkbox2 + label{
  position: relative;
}

.checkbox input[type="checkbox"].checkbox2{
  display: none;
  cursor:pointer;
}

.keep_state{
 margin-left: 10px;
 display:inline-block;
}

.checkbox input.checkbox1{
  font-size: 1em;
  width: 1.25em; 
  height: 1.25em;
  vertical-align: middle;
}
.checkbox input.checkbox1 + label{ 
  font-size: 1.125em;
  vertical-align: middle;
}

.checkbox input[type="checkbox"].checkbox2 + label:before { 
  display: inline-block;
  content: '';
  width: 1.25em; 
  height: 1.25em;
  border: 2px solid #fff;
  text-align: center;
  vertical-align: middle;
  background:none;
  border-radius: 50%;
  margin:25px 0;
}

.checkbox input[type="checkbox"].checkbox2 + label:after { 
  position: absolute;
  left:4px;
  bottom: 2px; 
  color: #fff;
  content: '✔';
  font-size: 1.5em;
  line-height: 0.8;
  transition: all .3s;
}

[type="checkbox"].checkbox2 + label:after { 
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked.checkbox2 + label:after { 
    opacity: 1;
    transform: scale(1);

}

.use{
  font-size: 12px;
  margin-top:10px;
}

.join{
  display: inline-block;
} 

.nav li{ 
  float: left;
}

.nav a:nth-child(1){
  width: 1px;
  height: 10px;
  margin:4px 10px;
}

.line_or{
  text-align: center;
  padding: 20px;
}


/* footer */

footer {
  width: 100%;
  position: fixed; 
  left: 0px; 
  bottom: 0px;
  padding: 20px 0;
  text-align: center;
}

.inner_footer {
  width: 927px;
  margin: auto;
  font-size:12px;
}

.notice li {
  display: inline-block;
  padding-right: 10px;
}

.nav {
  float: right;
}

select{
  background-color:transparent; 
  border: none;
  height:50px;
  color: #fff;
  font-size: 12px;
  size:20;
}

.address{
  font-size:11px;
  margin:8px 0 0;
}
